name: Publish to GitHub Packages

on:
  release:
    types: [created]
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      version:
        description: ''
        required: false
        type: string

jobs:
  publish-to-github-packages:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v2

      - name: Build project
        run: ./gradlew build

      - name: Publish to GitHub Packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
        run: ./gradlew publishMavenJavaPublicationToGitHubPackagesRepository --stacktrace

      - name: Cleanup
        if: always()
        run: ./gradlew --stop